<div id="container">
    <!-- Select images for any location in your machine -->
    <!-- Image picker -->
    <label for="image-picker">
        <img id="image-preview" src="http://dummyimage.com/400x200/f5f5f5/000.jpg&text=Click+here+to+upload+your+image" alt="your image" />
    </label>
    <input 
        id="image-picker" 
        name="image" 
        type="file" 
        accept="image/*"
        (change)="selectFile($event)"
        #selectPicture/>

    <!-- Selected image -->
    <img id="selected-image" [src]="url" alt=""
        *ngIf="url">

    <!-- Emotions buttons -->
    <div id="emotions">
    </div>
</div>